###Maestría en Inteligencia de Negocios
###Machine Learning
###Actividad Semana 2
###César Enrique Morán Fernández

In [41]:
import pandas as pd
import numpy as np
import requests
from io import StringIO

In [42]:
nRowsRead = None
COLUMNS2 = ['Class Name:', 'handicapped-infants','water-project-cost-sharing','adoption-of-the-budget-resolution','education-num','marital','physician-fee-freeze','el-salvador-aid',
            'religious-groups-in-schools','anti-satellite-test-ban','aid-to-nicaraguan-contras','mx-missile','immigration','synfuels-corporation-cutback','education-spending',
            'superfund-rigth-to-sue','crime','duty-free-exports','export-administration-act-south-africa']
PATH = "https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data"
df2 = pd.read_csv(PATH, delimiter=',', nrows= nRowsRead, names=COLUMNS2)
df2.dataframeName = 'house-votes-84.data.csv'
nRow, nCol = df2.shape
print(f'Hay {nRow} filas y {nCol} columnas')

Hay 435 filas y 19 columnas

In [43]:
df2.head(10)

,Class Name:,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,education-num,marital,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-rigth-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,n,y,n,y,y,y,n,n,n,y,?,y,y,y,n,y,NaN,NaN
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,?,NaN,NaN
2,democrat,?,y,y,?,y,y,n,n,n,n,y,n,y,y,n,n,NaN,NaN
3,democrat,n,y,y,n,?,y,n,n,n,n,y,n,y,n,n,y,NaN,NaN
4,democrat,y,y,y,n,y,y,n,n,n,n,y,?,y,y,y,y,NaN,NaN
5,democrat,n,y,y,n,y,y,n,n,n,n,n,n,y,y,y,y,NaN,NaN
6,democrat,n,y,n,y,y,y,n,n,n,n,n,n,?,y,y,y,NaN,NaN
7,republican,n,y,n,y,y,y,n,n,n,n,n,n,y,y,?,y,NaN,NaN
8,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,y,NaN,NaN
9,democrat,y,y,y,n,n,n,y,y,y,n,n,n,n,n,?,?,NaN,NaN

##Análisis Descriptivo

###Medidas de tendencia central

In [44]:
descriptivo = df2.describe()
print(descriptivo)

       duty-free-exports  export-administration-act-south-africa
count                0.0                                     0.0
mean                 NaN                                     NaN
std                  NaN                                     NaN
min                  NaN                                     NaN
25%                  NaN                                     NaN
50%                  NaN                                     NaN
75%                  NaN                                     NaN
max                  NaN                                     NaN

###Visualización de algunas estadísticas adicionales

In [45]:
info_adicional = df2.info()
print(info_adicional)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435 entries, 0 to 434
Data columns (total 19 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Class Name:                             435 non-null    object
 1   handicapped-infants                     435 non-null    object
 2   water-project-cost-sharing              435 non-null    object
 3   adoption-of-the-budget-resolution       435 non-null    object
 4   education-num                           435 non-null    object
 5   marital                                 435 non-null    object
 6   physician-fee-freeze                    435 non-null    object
 7   el-salvador-aid                         435 non-null    object
 8   religious-groups-in-schools             435 non-null    object
 9   anti-satellite-test-ban                 435 non-null    object
 10  aid-to-nicaraguan-contras               435 non-null    object
 11  mx-missile                              435 non-null    object
 12  immigration                             435 non-null    object
 13  synfuels-corporation-cutback            435 non-null    object
 14  education-spending                      435 non-null    object
 15  superfund-rigth-to-sue                  435 non-null    object
 16  crime                                   435 non-null    object
 17  duty-free-exports                       0 non-null      float64
 18  export-administration-act-south-africa  0 non-null      float64
dtypes: float64(2), object(17)
memory usage: 64.7+ KB
None

##Tratamiento de Missing

#### Verificar la presencia de valores nulos

In [46]:
nulos = df2.isnull().sum()

###Imputar o eliminar valores nulos según sea necesario
###Ejemplo de imputación media para columnas numéricas
###Calcular la media solo para columnas numéricas

In [47]:
mean_values = df2.mean(numeric_only=True)

###Llenar valores nulos con las medias respectivas

In [48]:
df2.fillna(mean_values, inplace=True)

In [49]:
df2.dropna(inplace=True)
print(nulos)

Class Name:                                 0
handicapped-infants                         0
water-project-cost-sharing                  0
adoption-of-the-budget-resolution           0
education-num                               0
marital                                     0
physician-fee-freeze                        0
el-salvador-aid                             0
religious-groups-in-schools                 0
anti-satellite-test-ban                     0
aid-to-nicaraguan-contras                   0
mx-missile                                  0
immigration                                 0
synfuels-corporation-cutback                0
education-spending                          0
superfund-rigth-to-sue                      0
crime                                       0
duty-free-exports                         435
export-administration-act-south-africa    435
dtype: int64

##Identificación y Eliminación de Errores

###Identificar posibles errores en columnas específicas
###Supongamos que 'votos' no puede ser un número negativo
###Iterar sobre todas las columnas y verificar posibles errores

In [51]:
for col in df2.columns:
    if df2[col].dtype == 'float64':  # Asegurarse de que sea una columna numérica
        errores = df2[df2[col] < 0]
        if not errores.empty:
            print(f"Errores en la columna {col}:")
            print(errores)

### Eliminar filas con errores identificados

###Base de datos: adult.data

In [53]:
nRowsRead = None
COLUMNS = ['age', 'workclass','fnlwgt','education','education-num','marital','occupation','relationship',
            'race','sex','capital_gain','capital_loss','hours_week','native_country','label']
PATH = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
df1 = pd.read_csv(PATH, delimiter=',', nrows= nRowsRead, names=COLUMNS)
df1.dataframeName = 'house-votes-84.data.csv'
nRow, nCol = df1.shape
print(f'Hay {nRow} filas y {nCol} columnas')

Hay 32561 filas y 15 columnas

In [55]:
df1.head(10)

,age,workclass,fnlwgt,education,education-num,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hours_week,native_country,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [57]:
descriptivo = df1.describe()
print(descriptivo)

                age        fnlwgt  education-num  capital_gain  capital_loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

         hours_week
count  32561.000000
mean      40.437456
std       12.347429
min        1.000000
25%       40.000000
50%       40.000000
75%       45.000000
max       99.000000

In [58]:
info_adicional = df1.info()
print(info_adicional)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital         32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_week      32561 non-null  int64
 13  native_country  32561 non-null  object
 14  label           32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None